<template>
  <div class="container mt-5">
    <div class="col">
      <h1 class="mt-5">Job editation</h1>
      <form
        autocomplete="off">
        <div class="form-group">
          <input
            class="layout-input"
            type="text"
            name="name"
            placeholder="name"
            v-model="job.name"
          >
          <input
            class="layout-input"
            type="text"
            name="company"
            placeholder="company"
            v-model="job.company"
          >
          <input
            class="layout-input"
            type="text"
            name="location"
            placeholder="location"
            v-model="job.location"
          >
          <template v-for="description in job.JobDescriptions">
             <textarea
               v-bind:key="description.id"
               class="layout-input"
               v-bind:name="'description' + description.locale"
               v-bind:placeholder="description.locale + ' description'"
               rows="5"
               v-model="description.text"
             ></textarea>
          </template>
          <input
            type="date"
            v-model="job.from"
          >
          <input
            type="date"
            v-model="job.to"
          >
          <button
            type="button"
            @click="persist"
            class="btn btn-danger"
          >
            Submit
          </button>

        </div>
      </form>
    </div>
  </div>
</template>

<script>
import JobService from '@/services/JobService'
import moment from 'moment'
export default {
  data () {
    return {
      job: {
        name: '',
        company: '',
        location: '',
        from: '',
        to: '',
        JobDescriptions: []
      }
    }
  },
  methods: {
    persist () {
      try {
        if (this.$route.params.id) {
          JobService.update(this.$route.params.id, this.job)
        } else {
          JobService.post(this.job)
        }
        this.$router.push('/admin/jobs')
      } catch (err) {
        console.log(err)
      }
    },
    transformDate () {
      this.job.from = moment(this.job.from).format('YYYY-MM-DD')
      this.job.to = moment(this.job.to).format('YYYY-MM-DD')
    }
  },
  async mounted () {
    if (this.$route.params.id) {
      this.job = (await JobService.getById(this.$route.params.id)).data
      this.transformDate()
    } else {
      this.job.JobDescriptions = (await JobService.getPreparedDescriptions()).data
    }
    console.log(this.job)
  }
}
</script>
