<template>
  <list
    v-bind:createRoute="createRoute"
  >
    <template slot="search">
      <search
        domain="jobs"
        v-model="jobName"
      >
      </search>
    </template>

    <template slot="items">
      <div class="list-group mt-5">
        <item v-for="job in jobs" v-bind:key="job.id" v-bind:item="job" v-on:remove="remove" v-bind:editRoute="createRoute + '/' + job.id">
          <template slot="name">{{ job.name }}</template>
          <template slot="meta">{{ job.company }}</template>
          <template slot="description">{{ job.JobDescriptions[0].text }}</template>
        </item>
      </div>
    </template>
  </list>
</template>

<script>
import JobService from '@/services/JobService'
export default {
  name: 'Jobs',
  data () {
    return {
      jobs: null,
      jobName: '',
      createRoute: '/admin/jobs/edit'
    }
  },
  components: {
    search: () => import('@/components/admin/parts/Search'),
    list: () => import('@/components/admin/parts/List'),
    item: () => import('@/components/admin/parts/Item')
  },
  async mounted () {
    this.jobs = (await JobService.index()).data
  },
  methods: {
    async remove (id) {
      (await JobService.delete(id))
      this.updateList(this.jobName)
    },
    async updateList () {
      if (this.jobName) {
        this.jobs = (await JobService.getByName(this.jobName)).data
      } else {
        this.jobs = (await JobService.index()).data
      }
    }
  },
  watch: {
    jobName: function (value) {
      this.updateList()
    }
  }
}
</script>
