<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<!-- assets -->
<!-- styles -->
<style src="./assets/scss/style.scss" lang="sass"></style>
