<template>
<div class="container mt-5">
    <div class="col">
        <h1 class="mt-5">Skill editation</h1>
        <form
                autocomplete="off">
            <div class="form-group">
                <input
                        class="layout-input"
                        type="text"
                        name="name"
                        placeholder="name"
                        v-model="skill.name"
                >
                <template v-for="(description, index) in skill.SkillDescriptions">
                   <textarea
                     v-bind:key="'description-' + index"
                     class="layout-input"
                     v-bind:name="'description' + description.locale"
                     v-bind:placeholder="description.locale + ' description'"
                     rows="5"
                     v-model="description.text"
                   ></textarea>
                </template>
                <select name="rank" v-model="skill.rank" class="custom-select layout-select">
                    <option selected>Choose experience level</option>
                    <option v-for="n in 5" v-bind:value="n" v-bind:key="n"> {{ n }}</option>
                </select>

                <div class="form-group">
                  <div class="form-check form-check-inline" v-for="(tag, index) in tags" v-bind:key="'tag-' + index">
                    <input type="checkbox" v-bind:id="'skill-tag-' + tag.id" v-bind:value="tag.id" v-model="skill.Tags">
                    <label v-bind:for="'skill-tag-' + tag.id">{{ tag.name }}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check form-check-inline" v-for="(job, index) in jobs" v-bind:key="'job-' + index">
                    <input type="checkbox" v-bind:id="'skill-job-' + job.id" v-bind:value="job.id" v-model="skill.Jobs">
                    <label v-bind:for="'skill-job-' + job.id">{{ job.name }}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check form-check-inline" v-for="(school, index) in schools" v-bind:key="'school-' + index">
                    <input type="checkbox" v-bind:id="'skill-school-' + school.id" v-bind:value="school.id" v-model="skill.Schools">
                    <label v-bind:for="'skill-school-' + school.id">{{ school.name }}</label>
                  </div>
                </div>

            </div>
            <button
                type="button"
                @click="persist"
                class="btn btn-danger"
            >
                Submit
            </button>
        </form>
    </div>
</div>
</template>

<script>
import SkillService from '@/services/SkillService'
import TagService from '../../../services/TagService'
import JobService from '../../../services/JobService'
import SchoolService from '../../../services/SchoolService'

export default {
  data () {
    return {
      skill: {
        name: '',
        SkillDescriptions: [],
        rank: '',
        Tags: [],
        Jobs: [],
        Schools: []
      },
      tags: null,
      schools: null,
      jobs: null
    }
  },
  methods: {
    persist () {
      try {
        if (this.$route.params.id) {
          SkillService.update(this.$route.params.id, this.skill)
        } else {
          console.log(this.skill)
          SkillService.post(this.skill)
        }
        this.$router.push('/admin/skills')
      } catch (err) {
        console.log(err)
      }
    },
    transformTags () {
      this.skill.Tags = this.skill.Tags.map((tag) => {
        return tag.id
      })
    },
    transformJobs () {
      this.skill.Jobs = this.skill.Jobs.map((job) => {
        return job.id
      })
    },
    transformSchools () {
      this.skill.Schools = this.skill.Schools.map((school) => {
        return school.id
      })
    }
  },
  async mounted () {
    this.tags = (await TagService.index()).data
    this.jobs = (await JobService.index()).data
    this.schools = (await SchoolService.index()).data

    if (this.$route.params.id) {
      this.skill = (await SkillService.getById(this.$route.params.id)).data
      this.transformTags()
      this.transformJobs()
      this.transformSchools()
    } else {
      this.skill.SkillDescriptions = (await SkillService.getPreparedDescriptions()).data
    }
  }
}
</script>
