<template>
  <list
    v-bind:createRoute="createRoute"
  >
    <template slot="search">
      <search
        domain="skills"
        v-model="skillName"
      >
      </search>
    </template>
    <template slot="items">
      <div class="list-group mt-5">
        <item v-for="skill in skills" v-bind:key="skill.id" v-bind:item="skill" v-on:remove="remove" v-bind:editRoute="createRoute + '/' + skill.id">
          <template slot="name">{{ skill.name }}</template>
          <template slot="meta">experience: {{ skill.rank }}</template>
          <template slot="description">something</template>
        </item>
      </div>
    </template>
  </list>
</template>

<script>
import SkillService from '@/services/SkillService'
export default {
  name: 'Skills',
  data () {
    return {
      skills: null,
      skillName: '',
      createRoute: '/admin/skills/edit'
    }
  },
  components: {
    search: () => import('@/components/admin/parts/Search'),
    list: () => import('@/components/admin/parts/List'),
    item: () => import('@/components/admin/parts/Item')
  },
  async mounted () {
    this.skills = (await SkillService.index()).data
    console.log(this.skills)
  },
  methods: {
    async remove (id) {
      await SkillService.delete(id)
      this.updateList()
    },
    async updateList () {
      if (this.skillName) {
        this.skills = (await SkillService.getByName(this.skillName)).data
      } else {
        this.skills = (await SkillService.index()).data
      }
    }
  },
  watch: {
    skillName: async function (value) {
      this.updateList()
    }
  }
}
</script>
