<template>
    <div class="container mt-5">
        <div class="col">
            <h1 class="mt-5">Tag editation</h1>
            <form
                    autocomplete="off">
                <div class="form-group">
                    <input
                            class="layout-input"
                            type="text"
                            name="name"
                            placeholder="name"
                            v-model="tag.name"
                    >
                </div>
                <button
                        @click="persist"
                        class="btn btn-danger"
                >
                    Submit
                </button>
            </form>
        </div>
    </div>
</template>

<script>
import TagService from '@/services/TagService'
export default {
  data () {
    return {
      tag: {
        name: ''
      }
    }
  },
  methods: {
    persist () {
      try {
        if (this.$route.params.id) {
          TagService.update(this.$route.params.id, this.tag)
        } else {
          TagService.post(this.tag)
        }
        this.$router.push('/admin/tags')
      } catch (err) {
        console.log(err)
      }
    }
  },
  async mounted () {
    if (this.$route.params.id) {
      this.tag = (await TagService.getById(this.$route.params.id)).data
    }
  }

}
</script>
