<template>
  <list
    v-bind:createRoute="createRoute"
  >
    <template slot="search">
      <search
        domain="tags"
        v-model="tagName"
      >
      </search>
    </template>
    <template slot="items">
      <div class="list-group mt-5">
        <item v-for="tag in tags" v-bind:key="tag.id" v-bind:item="tag" v-on:remove="remove" v-bind:editRoute="createRoute + '/' + tag.id">
          <template slot="name">{{ tag.name }}</template>
        </item>
      </div>
    </template>
  </list>
</template>

<script>
import TagService from '@/services/TagService'
export default {
  name: 'Tags',
  data () {
    return {
      tags: null,
      tagName: '',
      createRoute: '/admin/tags/edit'
    }
  },
  components: {
    search: () => import('@/components/admin/parts/Search'),
    list: () => import('@/components/admin/parts/List'),
    item: () => import('@/components/admin/parts/Item')
  },
  async mounted () {
    this.tags = (await TagService.index()).data
  },
  methods: {
    async remove (id) {
      await TagService.delete(id)
      await this.updateList()
    },
    async updateList () {
      if (this.tagName) {
        this.tags = (await TagService.getByName(this.tagName)).data
      } else {
        this.tags = (await TagService.index()).data
      }
    }
  },
  watch: {
    tagName: async function (value) {
      this.updateList()
    }
  }
}
</script>
