<template>
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <h1 class="mb-5 text-center">Login</h1>
                <div class="form-group">
                    <input
                            class="layout-input"
                            type="text"
                            name="email"
                            placeholder="email"
                            v-model="email"
                    >
                </div>

                <div class="form-group">
                    <input
                            class="layout-input"
                            type="password"
                            name="password"
                            placeholder="password"
                            v-model="password"
                    >
                </div>

                <div  class="error" v-html="error" style="color: red;"></div>
                <button
                        class="btn btn-danger"
                        @click="login">
                    Login
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: '',
      error: ''
    }
  },
  methods: {
    async login () {
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password
        })
        this.$store.dispatch('login', response.data.token, response.data.token)
          .then(() => {
            this.$router.push('/admin/skills')
          })
      } catch (error) {
        this.error = error.response.data.error
      }
    }
  }
}
</script>
