<template>
  <div class="container mt-5">
    <div class="row justify-content-md-center">
      <div class="col col-lg-4">
        <h1 class="mb-5 text-center">Register</h1>
        <form
          autocomplete="off">
          <div class="form-group">
            <input
                    class="layout-input"
                    type="text"
                    name="email"
                    placeholder="email"
                    v-model="email"
            >
          </div>

          <div class="form-group">
            <input
                    class="layout-input"
                    type="password"
                    name="password"
                    placeholder="password"
                    v-model="password"
            >
          </div>

          <div  class="error" style="color: red;">{{ error }}</div>
          <button
                  type="button"
                  class="btn btn-danger"
                  @click="register">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  name: 'Register',
  data () {
    return {
      email: '',
      password: '',
      error: ''
    }
  },
  methods: {
    async register () {
      try {
        await AuthenticationService.register({
          email: this.email,
          password: this.password
        })
        this.$router.push('/admin/login')
      } catch (error) {
        this.error = error.response.data.error
      }
    }
  }
}
</script>
