<template>
    <div class="admin">
        <navigation></navigation>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
  name: 'Admin',
  components: {
    'navigation': () => import('@/components/admin/parts/Navigation')
  }
}
</script>
