<template>
    <a class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
            <slot name="name"></slot>
          </h5>
          <small>
            <slot name="meta"></slot>
          </small>
        </div>
        <p class="mb-1">
          <slot name="description"></slot>
        </p>
        <small>
          <button type="button" @click="$emit('remove', item.id)" class="btn-sm btn btn-warning">remove</button>
          <router-link class="btn-sm btn btn-secondary" v-bind:to="editRoute">edit</router-link>
        </small>
    </a>
</template>

<script>
export default {
  name: 'Item',
  props: [
    'item',
    'editRoute'
  ]
}
</script>
