<template>
  <div class="container mt-5">
    <div class="row justify-content-md-center">
      <div class="col">
        <slot name="search"></slot>

        <router-link
          v-bind:to="createRoute"
        ><div class="icon-btn">
          <v-icon name="plus-circle"></v-icon>
        </div>
        </router-link>

        <div class="list-group mt-5">
          <slot name="items"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'List',
  props: [
    'createRoute'
  ]
}
</script>
