<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand btn" @click="navigateTo('/')">Home</a>
        <ul class="navbar-nav mr-auto">
            <template v-if="!$store.state.isUserLoggedIn">
                <li class="nav-item">
                    <a :class="{ 'btn-danger': isActive('/admin/login')}" @click="navigateTo('/admin/login')" class=" nav-link btn" >Login</a>
                </li>
                <li class="nav-item">
                    <a :class="{ 'btn-danger': isActive('/admin/register')}" @click="navigateTo('/admin/register')" class="nav-link btn" >Register</a>
                </li>
            </template>
            <template v-else>
                <li class="nav-item">
                    <a v-if="$store.state.isUserLoggedIn" @click="logout" class="nav-link btn">Log out</a>
                </li>
            </template>
        </ul>
        <ul class="navbar-nav ml-auto">
            <template v-if="$store.state.isUserLoggedIn">
                <li class="nav-item">
                    <a :class="{ 'btn-active': isActive('/admin/skills')}" @click="navigateTo('/admin/skills')" class="nav-link btn">Skills</a>
                </li>
                <li class="nav-item">
                  <a :class="{ 'btn-active': isActive('/admin/tags')}" @click="navigateTo('/admin/tags')" class="nav-link btn">Tags</a>
                </li>
                <li class="nav-item">
                  <a :class="{ 'btn-active': isActive('/admin/jobs')}" @click="navigateTo('/admin/jobs')" class="nav-link btn">Jobs</a>
                </li>
                <li class="nav-item">
                  <a :class="{ 'btn-active': isActive('/admin/schools')}" @click="navigateTo('/admin/schools')" class="nav-link btn">Schools</a>
                </li>
            </template>
        </ul>
    </nav>
</template>

<script>
export default {
  name: 'Navigation',
  data () {
    return {
      activeItem: ''
    }
  },
  methods: {
    isActive: function (menuItem) {
      return this.activeItem === menuItem
    },
    navigateTo: function (route) {
      this.activeItem = route
      this.$router.push(route)
    },
    logout: function () {
      this.$store.dispatch('logout')
        .then(() => {
          this.$router.push('/admin/login')
        })
    }
  },
  computed: {
    isUserLoggedIn () {
      return this.$store.getters.isUserLoggedIn
    }
  }
}
</script>
