<template>
    <div>
      <h1>Search for {{ domain }}</h1>
      <p>Search for {{ domain }} by name</p>
      <form
        autocomplete="off">
        <div class="form-group">
          <input
            ref="nameSearch"
            class="layout-input"
            type="text"
            name="name"
            placeholder="name"
            :value="value"
            @input="updateName()"
          >
        </div>
      </form>
    </div>
</template>

<script>
export default {
  name: 'Search',
  props: [
    'domain',
    'value'
  ],
  methods: {
    updateName () {
      this.$emit('input', this.$refs.nameSearch.value)
    }
  }
}
</script>
