
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}


.white-header {
  color: $white;
}

.grey {
  color: $lightGrey;
}

.red {
  color: $red;
}
.red-bg {
  background-color: $red;
}

.btn-danger {
  background-color: $red;
  border: $red;
}

.btn-insert {
  padding: 1em;
  border-radius: 100%;
  background-color: $red;
}

.icon-btn {
  width:50px;
  height:50px;
  color: $red;

  padding: 10px;

  .icon {

  }
}

.layout-input {
  margin-bottom: 1em;
  width: 100%;
  font-family: $fontCloudBold;
  color: $red;
  background: none;
  border: none;
  border-bottom: 4px solid $darkGrey;
  border-radius: 0;
  caret-color: $red;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;


  &:focus {
    color: $red;
    background-color: transparent;
    outline:none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 4px solid $red;
  }

  @include placeholder {
    font-family: $fontCloudLight;
    color: $darkGrey;
    opacity: 0.5;
  }
}

.layout-select {
  margin-bottom: 1em;
  width: 100%;
  font-family: $fontCloudBold;
  color: $red;
  background: none;
  border: none;
  border-bottom: 4px solid $darkGrey;
  border-radius: 0;
  caret-color: $red;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.list-group {
  .list-group-item {
    background: transparent;
    border: none;
    border-bottom: 1px solid $darkGrey;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      background: $red;
      color: $dark;
    }
    h5 {
      font-family: $fontCloudBold;
    }
  }
}
