@import "variables";
@import "fonts";
@import "blocks";
@import "nav";
@import "breakpoints";

body {
  font-family: $fontCloudLight;
  background-color: $dark;
  color: $lightGrey;
  font-size: 1em;

  .admin {
    background-color: #FFFFFF;
    color: $dark;
  }

  #page-content {

    height: 100vh;

    #cover-section {
      height:100vh;
      background-image: url("./../images/cover.jpg");
      background-size: cover;
    }

    #skill-list {
      position: fixed;
      height:100vh;
      background: $red;
      opacity: 0;
      -webkit-transition: all 0.2S;
      -moz-transition: all 0.2S;
      -ms-transition: all 0.2S;
      -o-transition: all 0.2S;
      transition: all 0.2S;

      &.active {
        opacity: 1;
      }
    }

    #info-section {
      padding: 5em 8em;
      //border-left: 3px dashed $white;
      overflow-x: hidden;

      #skill-search {
        font-size: 1.2em;
        .layout-input {
          text-transform: uppercase;
        }
      }
    }
  }
}
