//---------------------------
//All variables used through the css files
//---------------------------

//font names
$fontCloudLight : "Cloud-Light";
$fontCloudBold : "Cloud-Bold";

//colors
$dark : #1E1E1E;
$white : #FFFFFF;
$lightGrey : #B9B9B9;
$darkGrey : #5E5E5E;
$red : #971D33;
$redLight : #c62946;
