<template>
  <div class="container-fluid">
    <div id="page-content" class="row">
      <div id="cover-section" class="col-5">

      </div>
      <div id="skill-list" :class="{'active' : searchActive}" class="col-md-5 col-12">
        <div class="list-group mt-5">
          <a v-for="skill in skills"
             :key="skill.name"
             class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ skill.name }}</h5>
              <small>experience: {{ skill.rank }}</small>
            </div>
            <p class="mb-1">{{ skill.description }}</p>
            <small>Something</small>
          </a>
        </div>
      </div>

      <div id="info-section" class="col-md-7 col-12">
        <div class="row">
          <h1 class="white-header">{{ name }}</h1>
          <p>I am a <span class="red">student / software engineer</span>, trying to
            improve my professional skills every day. I am
            glad for every challenge that could give me
            valuable experience and make me a better
            developer. Most of the work that I have done
            so far was server-side web development but
            I would like to try something related to
            machine learning (AI) in the future. </p>
        </div>
        <div class="row">
          <form id="skill-search" class="mt-5">
            <div class="form-group">
              <label for="skill-search">Do I have any experience in this field</label>
              <input v-model="searchInput" id="skill-search-input" type="text" class="form-control mt-2 layout-input" placeholder="TYPE A SKILL THAT I SHOULD HAVE...">
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SkillService from '@/services/SkillService'
export default {
  name: 'Home',
  data () {
    return {
      name: 'Lukas Haberzettl',
      skills: [],
      searchActive: false,
      searchInput: ''
    }
  },
  watch: {
    searchInput: async function (val, oldVal) {
      if (val) {
        this.skills = (await SkillService.getByName(val)).data
        this.searchActive = this.skills.length
      } else {
        this.searchActive = false
      }
    }
  }
}
</script>
