<template>
  <div class="container mt-5">
    <div class="col">
      <h1 class="mt-5">School editation</h1>
      <form
        autocomplete="off">
        <div class="form-group">
          <input
            class="layout-input"
            type="text"
            name="name"
            placeholder="name"
            v-model="school.name"
          >
          <input
            class="layout-input"
            type="text"
            name="degree"
            placeholder="degree"
            v-model="school.degree"
          >
          <input
            class="layout-input"
            type="text"
            name="location"
            placeholder="location"
            v-model="school.location"
          >
          <template v-for="description in school.SchoolDescriptions">
             <textarea
               v-bind:key="description.id"
               class="layout-input"
               v-bind:name="'description' + description.locale"
               v-bind:placeholder="description.locale + ' description'"
               rows="5"
               v-model="description.text"
             ></textarea>
          </template>
          <input
            type="date"
            v-model="school.from"
          >
          <input
            type="date"
            v-model="school.to"
          >
          <button
            type="button"
            @click="persist"
            class="btn btn-danger"
          >
            Submit
          </button>

        </div>
      </form>
    </div>
  </div>
</template>

<script>
import SchoolService from '@/services/SchoolService'
import moment from 'moment'
export default {
  data () {
    return {
      school: {
        name: '',
        degree: '',
        location: '',
        from: '',
        to: '',
        SchoolDescriptions: []
      }
    }
  },
  methods: {
    persist () {
      try {
        if (this.$route.params.id) {
          SchoolService.update(this.$route.params.id, this.school)
        } else {
          SchoolService.post(this.school)
        }
        this.$router.push('/admin/schools')
      } catch (err) {
        console.log(err)
      }
    },
    transformDate () {
      this.school.from = moment(this.school.from).format('YYYY-MM-DD')
      this.school.to = moment(this.school.to).format('YYYY-MM-DD')
    }
  },
  async mounted () {
    if (this.$route.params.id) {
      this.school = (await SchoolService.getById(this.$route.params.id)).data
      this.transformDate()
    } else {
      this.school.SchoolDescriptions = (await SchoolService.getPreparedDescriptions()).data
    }
  }
}
</script>
