<template>
  <list
    v-bind:createRoute="createRoute"
  >
    <template slot="search">
      <search
        domain="schools"
        v-model="schoolName"
      >
      </search>
    </template>

    <template slot="items">
      <div class="list-group mt-5">
        <item v-for="school in schools" v-bind:key="school.id" v-bind:item="school" v-on:remove="remove" v-bind:editRoute="createRoute + '/' + school.id">
          <template slot="name">{{ school.name }}</template>
          <template slot="meta">{{ school.degree }}</template>
          <template slot="description">something</template>
        </item>
      </div>
    </template>
  </list>
</template>

<script>
import SchoolService from '@/services/SchoolService'
export default {
  name: 'Schools',
  data () {
    return {
      schools: null,
      schoolName: '',
      createRoute: '/admin/schools/edit'
    }
  },
  components: {
    search: () => import('@/components/admin/parts/Search'),
    list: () => import('@/components/admin/parts/List'),
    item: () => import('@/components/admin/parts/Item')
  },
  async mounted () {
    this.schools = (await SchoolService.index()).data
  },
  methods: {
    async remove (id) {
      (await SchoolService.delete(id))
      this.updateList(this.schoolName)
    },
    async updateList () {
      if (this.schoolName) {
        this.schools = (await SchoolService.getByName(this.schoolName)).data
      } else {
        this.schools = (await SchoolService.index()).data
      }
    }
  },
  watch: {
    schoolName: function (value) {
      this.updateList()
    }
  }
}
</script>
